.topic {
    font-size: 24px;
    /* フォントサイズ */
    font-weight: bold;
    /* フォントの太さ */
    color: #333;
    /* テキスト色 */
    text-align: center;
    /* テキストの中央揃え */
    margin-bottom: 20px;
    /* 下の余白 */
}